asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
autobahn==24.4.2
Automat==22.10.0
cffi==1.16.0
constantly==15.1.0
cryptography==39.0.2
Django==3.2.16
django-environ==0.9.0
et-xmlfile==1.1.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.0.0
incremental==22.10.0
msgpack==1.0.4
openpyxl==3.0.10
Pillow==10.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==24.1.0
pytz==2022.7
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
tablib==3.3.0
txaio==23.1.1
typing-extensions==4.4.0
zipp==3.11.0
zope.interface==5.5.2
gunicorn==20.1.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
whitenoise==6.6.0
